/* * {
  box-sizing: border-box;
  background-color: rgb(30, 29, 45);
  background-color: rgb(255, 255, 255);
} */
html,
body {
  margin: 0px;
  background-color: #6E6E73;
  height: 100vh;
  width: 100vw;
}

/* .movies {
  padding: 4px;
  margin: 30px;
}


.movies-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  align-content: center;
  justify-content: space-around;
}

.movie-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 9px;
}
*/
.movie-container {
  display: inline-block;
  height: 250px;
  width: 200px;
  padding: 10px;
  justify-content: center;
  align-content: center;
  

} 

.movie-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 9px;
}



.header-container {
  display: flex;
  max-height:10%;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}

.header-logo {
  height: 140px;
  width: 150px;;
}

.header-text {
  font-family: Combo;
  font-size: 4em;
}


/* MovieShow Component */

.movie-backdrop {
  width: 100%;
}