* {
  box-sizing: border-box;
  background-color: rgb(30, 29, 45);
  background-color: rgb(255, 255, 255);
}
html,
body {
  margin: 0px;
  background-color: #6E6E73;
  height: 100vh;
  width: 100vw;
}

.movies {
  padding: 30px;
  margin: 30px;
  display: flex;
  /* flex-wrap: inhegarit; */
}


.movies-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  padding: 5%;
  align-content: center;
  justify-content: space-around;
}

.movie-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 9px;
}

.movie-container {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;

}