/* * {
  box-sizing: border-box;
  background-color: rgb(30, 29, 45);
  background-color: rgb(255, 255, 255);
} */
html,
body {
  margin: 0px;
  background-color: #6E6E73;
  height: 100vh;
  width: 100vw;
}

/* .movies {
  padding: 4px;
  margin: 30px;
}


.movies-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  align-content: center;
  justify-content: space-around;
}

.movie-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 9px;
}
*/
.movie-container {
  display: inline-block;
  height: 250px;
  width: 200px;
  padding: 10px;
  justify-content: center;
  align-content: center;
  

} 

.movie-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 9px;
}



.header-container {
  display: flex;
  max-height:10%;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}

.header-logo {
  height: 140px;
  width: 150px;;
}

.header-text {
  font-family: Combo;
  font-size: 4em;
}


/* MovieShow Component */
.backdrop-container {
  position: relative;
  text-align: center;
  color:white;
  letter-spacing: 1px;
  /* text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
    font-size: 1.5em;
} */
}
.movie-backdrop {
  /* position: relative; */
  width: 100%;
}

.movie-title {
  position: absolute;
  text-align: center;
  top: 1%;
  left: 45%;
  font-size: 2.5em;
  font-family: 'Kanit', sans-serif;
  font-style: italic;
    
}
.movie-info-short {
  position: absolute;
  text-align: center;
  top: 90%;
  left: 40%;
  font-size: 1em;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
}

.movie-text-container {
  font-family: 'Kanit', sans-serif;
  display: flex;
  gap: 20px;
}

.movie-poster-small {
  width: 20%;
  border-radius: 5px;
}

.movie-info-left {
  border: 1px solid #0000ff;
  width: 100%;
  padding-left: 30px;
  font-weight: bold;
}
.movie-info-right {
  border: 1px solid #0000ff;
  width: 100%;
  padding-left: 30px;
  font-weight: bold;
}